

.grid-container{
  display: grid;

  padding: 10px;

  justify-items:center;
}

.grid-item {
  border: 1px solid black;
  padding: 2vw;
  font-size: 15px;
  text-align: center;

}

.grid-item:hover {
  background-color: grey;
}